<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-2" *ngFor="let sensor of sensors">
  <p>{{sensor.name}}</p>
  <div class="card" [ngClass]="{'bg-info':sensor.status === true, 'bg-danger':sensor.status === false}">
    <div class="card card-header">
      <h5>{{sensor.id}}</h5>
    </div>
    <div class="card card-body">
      <p>{{sensor.name}}</p>
      <button type="button" name="button" class="btn btn-warning" (click)="onDeleteSensor(s_index)">Удалить</button>
    </div>
  </div>
    </div>
  </div>
<hr>
<div class="row" [ngStyle]="{'margin-bottom':'50px'}">
  <div class="col">
    Введите id:<input type="number" name="" value="" class="form-control" [(ngModel)]="id">
  </div>
  <div class="col">
  Введите name:<input type="text" name="" value="" class="form-control" [(ngModel)]="name">
  </div>
  <button type="button" name="button" (click)="add()" class="btn btn-warning">Добавить</button>
</div>
</div>
